//
// IMPORTING STYLES
//

// import normalize
@import "normalize";

// import mixins
@import "mixins";

// styles in base.scss
@import "base";

@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "481up";

} // end of media query

@media only screen and (min-width: 768px) {

	// import grids
	@import "grid";

	// styles in 768up.scss
	@import "768up";

} // end of media query

@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "1030up";

} // end of media query

@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "1240up";

} // end of media query

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "2x";

} // end of media query

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {

  // iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)

}

@import "typography";

@media print {
	@import "print";
}

// import plugins
@import "plugins/ideapush";
